# To ignore all compiled code
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore all data files
*.csv

# Ignore cmake stuff
CMakeLists.txt
.idea/
cmake-build-debug/
cmake-build-debug-wsl-toolchain/
/token.txt
